<h1>Scrabble!</h1>
<form class="" action="/score" method="get">
  <div class="form-group">
    <label for="word">Enter a word:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Show my score!</button>
</form>
